:root.dark-theme {
  /* Background colors */
  --background-color-primary: #1e1e1e;
  --background-color-secondary: #252526;
  --background-color-tartiary: #2d2d30;

  /* Text colors */
  --text-color-primary: #ddd;
  --text-color-secondary: #eee;

  /* Accent colors */
  --success-color: #00a300;
  --error-color: #b91d47;
  --grey-color: #3f3f3f;
}

:root {
  /* Background colors */
  --background-color-primary: #eee;
  --background-color-secondary: #f5f5f5;
  --background-color-tartiary: #fefefe;

  /* Accent colors */
  --accent-color-primary: rgb(227, 157, 58);
  --accent-color-secondary: rgb(46, 84, 204);
  --accent-color-blur-primary: rgba(227, 157, 58, 0.7);
  --accent-color-blur-secondary: rgba(46, 84, 204, 0.7);

  /* Text colors */
  --text-color-primary: #222;
  --text-color-secondary: #333;

  --black-color: #29201a;
  --grey-color: #cacaca;
  --success-color: #00a300;
  --error-color: #b91d47;
  --duration-quickest: 0.25s;
  --duration-quick: 0.5s;
  --duration-semi: 0.75s;
  --duration-slow: 1s;
  --el-size-xxs: 2.5rem;
  --el-size-xs: 4rem;
  --el-size-sm: 7.5rem;
  --el-size-md: 10rem;
  --el-size-l: 15rem;
  --el-size-xl: 20rem;
  --gap-tiny: 0.1rem;
  --gap-xxs: 0.125rem;
  --gap-xs: 0.25rem;
  --gap-sm: 0.5rem;
  --gap-md: 0.75rem;
  --gap-lg: 1rem;
  --gap-xl: 1.25rem;
  --gap-xxl: 1.5rem;
  --gap-max: 1.75rem;
  --text-size-xs: 0.75rem;
  --text-size-sm: 0.9rem;
  --text-size-md: 1.05rem;
  --text-size-lg: 1.15rem;
  --text-size-xl: 1.35rem;
  --text-size-xxl: 1.65rem;
}

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s;
}

body {
  min-height: 100vh;
  background-color: var(--background-color-secondary);
}

li {
  color: var(--text-color-primary);
  padding: var(--gap-xs) var(--gap-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color-primary);
  margin: var(--gap-xl) 0;
}

small {
  font-size: var(--text-size-xs);
}

table {
  width: 100%;
  margin: var(--gap-md) 0;
  border-collapse: collapse;
  color: var(--text-color-primary)
}

th {
  padding: var(--gap-md);
  border: none;
  border-bottom: 1.25px solid var(--grey-color);
}

tr {
  border: none;
}

td {
  background-color: var(--background-color-primary);
  padding: var(--gap-md);
  border: none;
  border-bottom: 1px solid var(--grey-color);
}

p {
  color: var(--text-color-secondary);
  margin: var(--gap-md) 0;
  font-size: var(--text-size-md);
  line-height: var(--gap-max);
}

code {
  color: var(--text-color-primary);
}

hr {
  border: 0.1px solid var(--grey-color);
  border-style: dotted;
  margin: var(--gap-lg) auto;
  width: 90%;
}

textarea {
  resize: none;
}

/* Overwrite vitepress styles */

.sidebar-link-item, .nav-bar-title {
  color: var(--text-color-secondary) !important;
}

header.nav-bar {
  background-color: var(--background-color-secondary) !important;
  border-bottom: 0.25px solid var(--grey-color) !important;
}

.nav-link a.item {
  color: var(--text-color-secondary) !important;
}

aside.sidebar {
  background-color: var(--background-color-secondary) !important;
  border-right: 0.25px solid var(--grey-color) !important;
}

.tip.custom-block {
  background-color: var(--background-color-tartiary);
  color: var(--text-color-primary) !important;
}